nav {
  background-color: transparent;
  color: #fff;
  box-shadow: none; }

#fondo {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60%; }

.carousel-slider {
  position: absolute;
  top: 0;
  z-index: -1; }

#img-uno {
  background-image: url(../img/img_slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#img-dos {
  background-image: url(../img/img_slider_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  padding-top: 10%; }

h2, h3, h4 {
  font-family: "Oleo Script", cursive; }

.title {
  color: #3c4858; }

.text {
  color: #a2a2a2; }

.text-pink {
  color: #e91e63; }

.logo-title {
  font-size: 16px; }

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
  color: #000; }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63;
  -webkit-box-shadow: 0 1px 0 0 #e91e63;
  box-shadow: 0 1px 0 0 #e91e63; }

#btn-color {
  background-color: #e91e63; }

.opacidad-fondo {
  background: rgba(0, 0, 0, 0.1); }

.fondo-todo {
  background: #fff;
  margin: 0 auto;
  width: 95%;
  border-radius: 2em; }

.fondo-dos {
  padding: 5% 5%; }

.text-uno {
  width: 65%;
  margin: 0 auto;
  color: #a2a2a2; }

.espacio-dos {
  padding: 5% 0; }

.title {
  color: #3c4858; }

.color-uno {
  color: #e91e63; }

.color-dos {
  color: #00bcd4; }

.color-tres {
  color: #4caf50; }

.fondo-tres {
  background-image: url(../img/img_city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.espacio-tres {
  padding: 3% 10%; }

.espacio-video {
  padding: 0 0 5% 0; }

.video {
  border: 2px solid #fff; }

.fondo-cuatro {
  padding: 3% 10%;
  background-color: #f0f0f0; }

.title-products {
  font-family: "Oleo Script", cursive;
  font-size: 30px;
  color: #3c4858; }

.title-pink {
  color: #e91e63; }

.espacio-cinco {
  padding: 2% 10%; }

#img-portfolio {
  border-radius: 0.5em; }

.espacio-seis {
  padding: 2% 10%; }

.img-team {
  float: right;
  box-shadow: 0 0 0.3em #000; }

.fa {
  padding-left: 15%; }

.fondo-siete {
  background-color: #f0f0f0; }

.espacio-siete {
  padding: 2% 10%; }

.espacio-ocho {
  padding: 3% 10%; }

.img-circle {
  width: 30%;
  box-shadow: 0 0 0.3em #000; }

.fondo-nueve {
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.espacio-nueve {
  padding: 3% 30%; }

.fondo-input {
  background-color: #fff;
  border-radius: 1em; }

.img-blog {
  box-shadow: 0 0 0.3em #000; }

.espacio-diez {
  padding: 3% 10%; }

.btn-read {
  text-decoration: none; }

.btn-read:hover {
  color: #e91e63; }

.fondo-doce {
  background-image: url(../img/img_city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.espacio-doce {
  padding: 3% 10%; }

.icon-get {
  padding-top: 70%; }

.btn-contact {
  width: 100%; }

footer {
  background-color: #323437; }

.fondo-trece {
  padding: 3% 10%; }

.img-insta {
  border-radius: 1em;
  box-shadow: 0 0 0.3em #000; }

/*# sourceMappingURL=style.css.map */
