#btn-color{
	@include btnRosado();
}


h1, h2, h3, h4{
	font-family: $type-tittle;
}

.navbar-one{
	background-color: $color_fondo_nav;
	color:$color-white;
	box-shadow: none;
	
	.navbar-color{
	background-color: $fondo-color-dos;
	color: $color-black;
	box-shadow: $sombra;
	}
}


.fondo-todo{
	@include detallesFondo();
	
	.opacidad-fondo{
		background:$fondo-color;
	}
	
	.title{
		@include titulo();
	}

	.text{
		@include subtitulo();
	}
}



.carousel-slider{
	position:$abs-pos;
	top:0;
	z-index: -1;

	#img-uno{
	background-image: url(../img/img_slider_1_opacidad.jpg);
	@include background();
	}

	#img-dos{
	background-image: url(../img/img_slider_2_opacidad.jpg);
	@include background();
	}

	h1{
	padding-top: 10%;
	}
}

.fondo{
	background:$fondo-color;
	position:$abs-pos;
	top: 55%;

	.fondo-dos{
		width:100%;
		padding: 5% 5% 2% 5%;
	}

	.espacio-dos{
	padding: 0 15%;
	}

	.text-uno{
	width: 65%;
	margin: 0 auto;
	color: $color-grey;
	}

	.text-pink{
		color: $color-pink;
	}

	.logo-title{
		font-size: 16px;
	}
	.color-uno{
	color:$color-pink;
	}

	.color-dos{
		color:#00bcd4;
	}
	.color-tres{
		color:#4caf50;
	}
}
@media (max-width:1024px){
	.fondo{
		background:$fondo-color;
		position:$abs-pos;
		top: 38%;
	}
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
    color: #000;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $color-pink;
    -webkit-box-shadow: 0 1px 0 0 $color-pink;
    box-shadow: 0 1px 0 0 $color-pink;
}

.fondo-tres{
	background-image: url(../img/img_city_opacidad.jpg);
	@include background();
	background-attachment:fixed;
	.espacio-tres{
	padding: 3% 10%;
	}

	.espacio-video{
		padding: 0 0 5% 0;
		margin: 0;
	}

	.video{
		border: 2px solid #fff;
	}
}

.fondo-cuatro{
	padding: 3% 10%;
	background-color: #f0f0f0;

	.title-products{
	font-size: 30px;
	}

	.title-pink{
		color: $color-pink;
	}
}

.espacio-cinco{
	padding: 2% 10%;

	#img-portfolio{
	border-radius: 0.5em;
	}
}

@media (max-width:1024px){
	#img-portfolio{
		padding: 2% 10%;
		border-radius: 0.5em;
	}
}	

.espacio-seis{
	padding: 2% 10%;

	.img-team{
		float: right;
		box-shadow: $sombra;
	}
	.fa{
		padding-left: 15%;
	}
}

@media (max-width:1024px){

	.img-team{
		width: 100%;
		margin: 0 auto;
		box-shadow: $sombra;
	}
}	

.fondo-siete{
	background-color: $color-grey-claro;
	
	.espacio-siete{
	padding: 2% 10%;
	}
}

.espacio-ocho{
	padding: 3% 10%;

	.img-circle{
	width: 30%;
	box-shadow: $sombra;
	}
}

.fondo-nueve{
	background-image: url(../img/about_opacidad.jpg);
	@include background();
	
	.espacio-nueve{
	padding: 3% 30%;
	}

	.fondo-input{
	background-color: $color-white;
	width: 100%;
	border-radius: 1em;
	padding: 0 5%;
	}

	.btn-suscribe{
		margin-top: 15%;
	}
}

@media (max-width:1024px){
	.fondo-input{
		background-color: $color-white;
		margin: 0 auto;
		border-radius: 1em;
	}
}

.fondo-diez{
	
	.espacio-diez{
	padding: 0 10% 3% 10%;
	}

	.img-blog{
	box-shadow: $sombra;
	}

	.btn-read{
	text-decoration: none;
	color: $color-blue;
	}

	.btn-read:hover{
	color: $color-pink;
	}
}

.fondo-once{
	background-image: url(../img/img_city_opacidad.jpg);
	@include background();

	.espacio-once{
		padding: 3% 10%;
	}

	.fa{
		float: left;
		padding-top: 70%;
	}

	.btn-contact{
		width: $ancho-total;
	}
}

footer{
	background-color: #323437;

	.fondo-doce{
		padding: 3% 10%;
	}

	.img-insta{
		padding: 2%;
		width: 100%;
		border-radius: 1em;
		box-shadow: $sombra;
		
	}
	.fa{
		float:left;
	}
	.p-test{
		word-break: break-all;
	}
}

/************************************************/

