nav{
	background-color: $color_fondo_nav;
	color:$color-white;
	box-shadow: none;
}
#fondo{
	background:$fondo-color;
	position:$abs-pos;
	top: 60%;
}
.carousel-slider{
	position:$abs-pos;
	top:0;
	z-index: -1;
}

#img-uno{
	background-image: url(../img/img_slider_1.jpg);
	background-size: $cubrir;
	background-repeat: $no-repetir;
	background-position: $posicion;
}

#img-dos{
	background-image: url(../img/img_slider_2.jpg);
	background-size: $cubrir;
	background-repeat: $no-repetir;
	background-position: $posicion;
}

h1{
	padding-top: 10%;
}

h2, h3, h4{
	font-family: $type-tittle;
}

.title{
	color: $color-blue;
}
.text{
	color: $color-grey;
}
.text-pink{
	color: $color-pink;
}
.logo-title{
	font-size: 16px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
    color: #000;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $color-pink;
    -webkit-box-shadow: 0 1px 0 0 $color-pink;
    box-shadow: 0 1px 0 0 $color-pink;
}

#btn-color{
	background-color:$color-pink;
}

.opacidad-fondo{
	background:$fondo-color;
}
.fondo-todo{
	background:$fondo-color-dos;
	margin: 0 auto;
	width: 95%;
	border-radius: 2em;
}
.fondo-dos{
	padding: 5% 5%;
}
.text-uno{
	width: 65%;
	margin: 0 auto;
	color: $color-grey;
}
.espacio-dos{
	padding: 5% 0;
}
.title{
	color: $color-blue;
}

.color-uno{
	color:$color-pink;
}

.color-dos{
	color:#00bcd4;
}
.color-tres{
	color:#4caf50;
}

.fondo-tres{
	background-image: url(../img/img_city.jpg);
	background-size: $cubrir;
	background-repeat: $no-repetir;
	background-position: $posicion;
	background-attachment:fixed;
}

.espacio-tres{
	padding: 3% 10%;
}

.espacio-video{
	padding: 0 0 5% 0;
}

.video{
	border: 2px solid #fff;
}

.fondo-cuatro{
	padding: 3% 10%;
	background-color: #f0f0f0;
}

.title-products{
	font-family: $type-tittle;
	font-size: 30px;
	color: $color-blue;
}

.title-pink{
	color: $color-pink;
}

.espacio-cinco{
	padding: 2% 10%;
}

#img-portfolio{
	border-radius: 0.5em;
}

.espacio-seis{
	padding: 2% 10%;
}

.img-team{
	float: right;
	box-shadow: $sombra;
}
.fa{
	padding-left: 15%;
}

.fondo-siete{
	background-color: $color-grey-claro;
}

.espacio-siete{
	padding: 2% 10%;
}
.espacio-ocho{
	padding: 3% 10%;
}
.img-circle{
	width: 30%;
	box-shadow: $sombra;
}
.fondo-nueve{
	background-image: url(../img/about.jpg);
	background-size: $cubrir;
	background-repeat: $no-repetir;
	background-position: $posicion;
}

.espacio-nueve{
	padding: 3% 30%;
}

.fondo-input{
	background-color: $color-white;
	border-radius: 1em;
}

.img-blog{
	box-shadow: $sombra;
}
.espacio-diez{
	padding: 3% 10%;
}

.btn-read{
	text-decoration: none;
}
.btn-read:hover{
	color: $color-pink;
}

.fondo-doce{
	background-image: url(../img/img_city.jpg);
	background-size: $cubrir;
	background-repeat: $no-repetir;
	background-position: $posicion;
}

.espacio-doce{
	padding: 3% 10%;
}

.icon-get{
	padding-top: 70%;
}

.btn-contact{
	width: $ancho-total;
}

footer{
	background-color: #323437;
}

.fondo-trece{
	padding: 3% 10%;
}
.img-insta{
	border-radius: 1em;
	box-shadow: $sombra;
}