$color_fondo_nav: transparent;
$color_font: #fff;
$fondo-color: rgba(0,0,0,0.1);
$fondo-color-dos: #fff;
$abs-pos: absolute;
$cubrir: cover;
$no-repetir: no-repeat;
$posicion: center;
$color-boton:#e91e63;