$type-tittle:'Oleo Script', cursive;
$color_fondo_nav: transparent;
$fondo-color: rgba(0,0,0,0.1);
$fondo-color-dos: #fff;
$abs-pos: absolute;
$cubrir: cover;
$no-repetir: no-repeat;
$posicion: center;
$color-white: #fff;
$color-grey: #a2a2a2;
$color-grey-claro: #f0f0f0;
$color-pink:#e91e63;
$color-blue: #3c4858;

$sombra: 0 0 0.3em #000;

